@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

/*----------------------------------------------------Colours */

.ui-menu-color-home {
    background-color: #ffffff
}

.ui-menu-color-gallery {
    background-color: #ffffff;
}

.ui-menu-color-cake {
    background-color: #ffffff;
}

.ui-menu-color-customer {
    background-color: #ffffff;
}

.ui-menu-color-shop {
    background-color: #ffffff;
}

.ui-menu-color-video {
    background-color: #ffffff
}

/*----------------------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.general-sub {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

#seasonal-image-text h2 {
    color: #fafafa;
    text-transform: uppercase;
}

#seasonal-image-text {
    color: #da1a1a;
    font-size: 80%;
    font-family: "Quicksand";
    letter-spacing: 4px;
    text-align: center;

    width: 600px;
    height: 150px;
    padding: 20px;

    background-color: rgba(0, 0, 0, 0.2);

    bottom: 20px;
    right: 240px;

    position: absolute;
}

hr {
    border-top: 1px solid #8f8f8f;
    width: 100%;
}

.left-circle-caption {
    font-family: "Quicksand", sans-serif;
    line-height: 20px;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
}

/*----------------------------------------------------Heading */
header {
    margin: 0;
}

.logo {
    background: url("/assets/css/images/Epic.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    padding-top: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 170px;
    width: 150px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #000;
    height: 160px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 60px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

#gallery h2 {
    text-align: center;
    margin: 20px 0;
    font-family: "Quicksand";
    text-transform: uppercase;
}

#customer-favourites h2 {
    text-align: center;
    margin: 20px 0;
    font-family: "Quicksand";
    text-transform: uppercase;
}

#shop h2 {
    text-align: center;
    margin: 20px 0;
    font-family: "Quicksand";
    text-transform: uppercase;
}

#video-tutorials h2 {
    text-align: center;
    margin: 20px 0;
    font-family: "Quicksand";
    text-transform: uppercase;
}

.left-circle-caption h3 {
    padding-top: 20px;
}

/*----------------------------------------------------Images */
#seasonal-image {
    height: 600px;
    width: 100%;
    background: url("/assets/css/images/christmas-cake.jpg") no-repeat center center;
    overflow: hidden;
    position: relative;
}

#customer-favourites {
    height: auto;
}

/*#shop {
  
}*/

/*----------------------------------------------------Hover.css */

.hvr-sweep-to-bottom:before {
    background-color: rgba(0, 0, 0, 0.2);
    height: 170px;
}

/*----------------------------------------------------Carousel */
.carousel-item {
    height: 32rem;
    background: #777;
    color: #fafafa;
    position: relative;
    background-position: center;
    background-size: contain;
}

.carousel-container {
    font-size: 80%;
    font-family: "Quicksand";
    letter-spacing: 4px;
    text-align: center;

    width: 100%;
    height: 150px;
    padding: 20px;

    background-color: rgba(0, 0, 0, 0.4);

    bottom: 20px;

    position: absolute;

}

.carousel-container h3 {
    text-transform: uppercase;
}

/*----------------------------------------------------Video */



/*----------------------------------------------------Footer */

footer {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fafafa;
    min-height: 170px;
    text-align: center;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #000000;
}

#footer-details {
    padding: 20px;
    padding-bottom: 0;
}

#footer-about {
    padding-bottom: 0;
}

/*----------------------------------------------------Media Queries */

@media screen and (max-width:991px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    .menuitem {
        text-align: center;
        padding: 0;
        height: auto;
        width: auto;
    }

    .menuitem span {
        width: 100%;
        padding-top: 0px;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 2px;
    }

    .menuitem a {
        height: 30px;
    }

    .logo {
        min-height: 265px;
    }

    .nav-bar-nav {
        margin: 0;
    }

    #seasonal-image-text {
        color: #fafafa;
        width: auto;
        height: 80px;
        right: auto;
        padding: 15px;
        bottom: 0;
    }

    #seasonal-image-text h2,
    h3 {
        font-size: 1rem;
    }

    #seasonal-image-text h2 {
        text-decoration: underline;
    }

    #seasonal-image {
        height: 290px;
        width: 100%;
        background: url("/assets/css/images/Mobile-sp.jpg") no-repeat center center;
        overflow: hidden;
        position: relative;
        font-size: 1.1rem;
    }

    .carousel-container {
        font-size: 80%;
        font-family: "Quicksand";
        letter-spacing: 4px;
        text-align: center;

        width: 100%;
        height: 280px;
        padding: 40px;

        background-color: rgba(0, 0, 0, 0.4);

        bottom: 10px;

        position: absolute;
    }

}