@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

/*----------------------------------------------------Colours */

.ui-menu-color-home {
    background-color: #ffffff
}

.ui-menu-color-gallery {
    background-color: #ffffff;
}

.ui-menu-color-cake {
    background-color: #ffffff;
}

.ui-menu-color-customer {
    background-color: #ffffff;
}

.ui-menu-color-shop {
    background-color: #ffffff;
}

.ui-menu-color-video {
    background-color: #ffffff
}

/*----------------------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.general-sub {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

#seasonal-image-text h2 {
    color: #fafafa;
    text-transform: uppercase;
}

#seasonal-image-text {
    color: #da1a1a;
    font-size: 80%;
    font-family: "Quicksand";
    letter-spacing: 4px;
    text-align: center;

    width: 600px;
    height: 150px;
    padding: 20px;

    background-color: rgba(0, 0, 0, 0.2);

    bottom: 20px;
    right: 240px;

    position: absolute;
}

.left-circle-caption {
    width: 33%;
    font-family: "Quicksand", sans-serif;
    line-height: 20px;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
    padding: 20px;
}

/*----------------------------------------------------Heading */
header {
    margin: 0;
}

.logo {
    background: url("/assets/css/images/Epic.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    padding-top: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 170px;
    width: 222px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #000;
    height: 160px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 60px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

#gallery h2 {
    text-align: center;
    margin: 20px 0;
    font-family: "Quicksand";
    text-transform: uppercase;
}

#customer-favourites h2 {
    text-align: center;
    margin: 20px 0;
    font-family: "Quicksand";
    text-transform: uppercase;
}

#shop h2 {
    text-align: center;
    margin: 20px 0;
    font-family: "Quicksand";
    text-transform: uppercase;
}

#video-tutorials h2 {
    text-align: center;
    margin: 20px 0;
    font-family: "Quicksand";
    text-transform: uppercase;
}

/*----------------------------------------------------Images */
#seasonal-image {
    height: 600px;
    width: 100%;
    background: url("/assets/css/images/christmas-cake.jpg") no-repeat center center;
    overflow: hidden;
    position: relative;
}

#customer-favourites {
    height: 600px;
}

#left-circle-container {
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    border-radius: 50%;
    margin-left: 120px;
}

#left-circle-cover-bg {
    background: url("/assets/css/images/customer-favourites/customer1.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#shop {
    height: 600px;
    width: 100%;
    background: url("/assets/css/images/shop/rolling-pin.jpg") no-repeat center center;
    overflow: hidden;
    position: relative;
}

/*----------------------------------------------------Hover.css */

.hvr-sweep-to-bottom:before {
    background-color: rgba(0, 0, 0, 0.2);
    height: 170px;
}

/*----------------------------------------------------Carousel */
.carousel-item {
    height: 32rem;
    background: #777;
    color: #fafafa;
    position: relative;
    background-position: center;
    background-size: cover;
}

.carousel-container {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    font-family: "Quicksand", sans-serif;
}


.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

/*----------------------------------------------------Video */



/*----------------------------------------------------Footer */

footer {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fafafa;
    min-height: 170px;
    text-align: center;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #000000;
}

#footer-details {
    padding: 20px;
    padding-bottom: 0;
}

#footer-about {
    padding-bottom: 0;
}